* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c2fbff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f8ecf8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

button {
    background-color: #aa53a0;
    color: #c2fbff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #a874cd;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

strong {
    font-weight: bold;
}